In [2]:
import numpy as np
import pandas as pd

# PROBLEM DESCRIPTION AND EXAMPLE
For example:

3 --> 4  
4 --> 3  
2 --> 5  
1 --> 3  
3 --> 9  
3 --> 3  
Maybe the lists are only off by a small amount! To find out, pair up the numbers and measure how far apart they are. Pair up the smallest number in the left list with the smallest number in the right list, then the second-smallest left number with the second-smallest right number, and so on.  

Within each pair, figure out how far apart the two numbers are; you'll need to add up all of those distances. For example, if you pair up a 3 from the left list with a 7 from the right list, the distance apart is 4; if you pair up a 9 with a 3, the distance apart is 6.  

In the example list above, the pairs and distances would be as follows:  

* The smallest number in the left list is 1, and the smallest number in the right list is 3. The distance between them is 2.  
* The second-smallest number in the left list is 2, and the second-smallest number in the right list is another 3. The distance between them is 1.  
* The third-smallest number in both lists is 3, so the distance between them is 0.  
* The next numbers to pair up are 3 and 4, a distance of 1.  
* The fifth-smallest numbers in each list are 3 and 5, a distance of 2.  
* Finally, the largest number in the left list is 4, while the largest number in the right list is 9; these are a distance 5 apart.  

To find the total distance between the left list and the right list, add up the distances between all of the pairs you found. In the example above, this is 2 + 1 + 0 + 1 + 2 + 5, a total distance of 11!  

Your actual left and right lists contain many location IDs. What is the total distance between your lists?

In [8]:
def diff_two_historian_lists(hist_list1,hist_list2):
    l1 = sorted(hist_list1)
    l2 = sorted(hist_list2)
    total = np.sum(np.abs(np.subtract(l1,l2)))
    return total

In [10]:
# Test
hist_list_1 = [3,4,2,1,3,3]
hist_list_2 = [4,3,5,3,9,3]
tot = diff_two_historian_lists(hist_list_1,hist_list_2)
print(total)

11

In [14]:
# Actual Problem lists:
df = pd.read_csv('data/day1_prob1_input.txt', header=None, sep=r'\s+', names=['l1','l2'])
df.head()

      l1     l2
0  77221  93653
1  61169  27995
2  49546  69782
3  11688  41563
4  15820  48282

In [15]:
# check for no weird data
df.describe()

                 l1            l2
count   1000.000000   1000.000000
mean   54315.928000  54086.759000
std    25273.708041  26428.877839
min    10035.000000  10132.000000
25%    32875.000000  30319.250000
50%    52760.000000  51654.000000
75%    75711.500000  77868.000000
max    99959.000000  99897.000000

In [19]:
df.isna().any()

l1    False
l2    False
dtype: bool

In [21]:
h1 = df.l1.to_list()
h2 = df.l2.to_list()
total = diff_two_historian_lists(h1,h2)
print(total)

1580061

## Correct Answer! Got it right !